.custom-header{
  height: 73px;
}

.custom-body{
  height: 100%;
  width: 100%;
  padding-top: 73px;
  padding-bottom:60px;
  overflow: auto;
}

.vertical-infinite-div {
  height: 100%;
  overflow: auto;
}

.custom-footer {
  height: 60px;
}

.color-prop-container{
  height: 33.3%;
}

.border-radius{
  border-radius: 15px !important;
}

.p-t-15{
  padding-top: 15px;
}

.p-b-15{
  padding-bottom: 15px;
}

.p-x-7{
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.p-l-7{
  padding-left: 7.5px;
}

.p-r-7{
  padding-right: 7.5px;
}

.title {
  width: 90%;
}

@media(max-width: 576px) {
  .last-row-container {
    padding-bottom: 0px;
  }

  .middle-column-color-container{
    padding-left: 0px;
    padding-right: 0px;
  }

  .color-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
